next_move_intake_agent.json
{
  "name": "next_move_intake_agent",
  "nodes": [
    {
      "name": "Wait for Text Response",
      "type": "n8n-nodes-base.twilioTrigger",
      "position": [-3340, 1700],
      "parameters": {
        "updates": ["com.twilio.messaging.inbound-message.received"]
      },
      "typeVersion": 1,
      "notes": "Twilio trigger — receives inbound SMS. Configure your Twilio credentials here."
    },
    {
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [-3120, 1740],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "name": "Real Estate Qualifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [-2880, 1680],
      "parameters": {
        "text": "={{ $json.data.body }}",
        "options": {
          "systemMessage": "Tu es l'adjointe administrative virtuelle de Joanel, courtier immobilier specialise en plex dans le Grand Montreal.\n\nTon role:\n- Accueillir chaleureusement les prospects par SMS\n- Detecter s'ils sont ACHETEUR ou VENDEUR\n- Collecter leurs informations de facon naturelle et conversationnelle\n- Qualifier le prospect (budget, financement, delai, zone)\n\nPour un ACHETEUR, tu dois collecter progressivement:\n1. Prenom et nom\n2. Type de bien recherche (plex, condo, maison)\n3. Zone geographique souhaitee\n4. Budget approximatif\n5. Statut de pre-qualification bancaire\n6. Mise de fonds disponible\n7. Proprietaire occupant ou investisseur\n8. Premier acheteur ou non\n9. Delai du projet\n10. Disponibilites pour les visites\n\nPour un VENDEUR, tu dois collecter:\n1. Prenom et nom\n2. Adresse du bien\n3. Type de bien\n4. Prix souhaite\n5. Raison et delai de vente\n6. Occupation actuelle\n\nTon ton:\n- Francais quebecois naturel et chaleureux\n- Professionnel mais accessible\n- Tu tutois apres le premier echange\n- Tu poses UNE question a la fois\n- Reponses courtes (max 2-3 phrases par SMS)\n- JAMAIS d'emojis\n- PAS d'accents dans tes reponses\n\nSi le prospect pose une question complexe, dis-lui que Joanel va le rappeler personnellement.\n\nQuand tu as collecte toutes les informations necessaires, termine la conversation en disant que Joanel va prendre contact sous peu. Ajoute le mot QUALIFIED a la fin de ton dernier message."
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [-2920, 1880],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {
          "maxTokensToSample": 500
        }
      },
      "typeVersion": 1.3,
      "notes": "Configure your Anthropic API credential here."
    },
    {
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [-2720, 1900],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Wait for Text Response').item.json.data.from }}"
      },
      "typeVersion": 1,
      "notes": "Configure Postgres credential pointing to Supabase connection pooler."
    },
    {
      "name": "Check if Conversation Completed",
      "type": "n8n-nodes-base.if",
      "position": [-2340, 1600],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "QUALIFIED"
            }
          ]
        }
      },
      "typeVersion": 2.3
    },
    {
      "name": "Thank Your Text",
      "type": "n8n-nodes-base.twilio",
      "position": [-2020, 1460],
      "parameters": {
        "to": "={{ $('Wait for Text Response').item.json.data.from }}",
        "from": "YOUR_TWILIO_NUMBER",
        "message": "Merci beaucoup! Joanel va te contacter sous peu.",
        "options": {}
      },
      "typeVersion": 1,
      "notes": "Replace YOUR_TWILIO_NUMBER with your Twilio phone number."
    },
    {
      "name": "Response Text from Agent",
      "type": "n8n-nodes-base.twilio",
      "position": [-2120, 1900],
      "parameters": {
        "to": "={{ $('Wait for Text Response').item.json.data.from }}",
        "from": "YOUR_TWILIO_NUMBER",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "typeVersion": 1,
      "notes": "Replace YOUR_TWILIO_NUMBER with your Twilio phone number."
    },
    {
      "name": "Query Supabase for conversation history",
      "type": "n8n-nodes-base.postgres",
      "position": [-1880, 1760],
      "parameters": {
        "query": "=SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $('Wait for Text Response').item.json.data.from }}';\n",
        "options": {},
        "operation": "executeQuery"
      },
      "typeVersion": 2.6,
      "notes": "Configure Postgres credential pointing to Supabase connection pooler."
    },
    {
      "name": "Combine Rows",
      "type": "n8n-nodes-base.aggregate",
      "position": [-1720, 1500],
      "parameters": {
        "options": {},
        "aggregate": "aggregateAllItemData"
      },
      "typeVersion": 1
    },
    {
      "name": "Summarize Transcript",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [-1520, 1560],
      "parameters": {
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "Genere deux champs: un transcript propre de la conversation et un resume des informations collectees sur le prospect (type de projet, zone, budget, delai, etc). Reponds en francais."
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.6
    },
    {
      "name": "Anthropic Summarizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [-1540, 1840],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {
          "maxTokensToSample": 1000
        }
      },
      "typeVersion": 1.3,
      "notes": "Configure your Anthropic API credential here."
    },
    {
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [-1340, 1840],
      "parameters": {
        "jsonSchemaExample": "{\n\t\"transcript\": \"transcript\",\n\t\"summary\": \"summary\"\n}"
      },
      "typeVersion": 1.3
    },
    {
      "name": "Send Lead to owner",
      "type": "n8n-nodes-base.twilio",
      "position": [-920, 1760],
      "parameters": {
        "to": "BROKER_PHONE_NUMBER",
        "from": "YOUR_TWILIO_NUMBER",
        "message": "=Nouveau lead qualifie! Tel: {{ $('Wait for Text Response').item.json.data.from }}\n\nResume: {{ $json.output.summary }}",
        "options": {}
      },
      "typeVersion": 1,
      "notes": "Replace BROKER_PHONE_NUMBER and YOUR_TWILIO_NUMBER."
    }
  ],
  "connections": {
    "Wait for Text Response": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Real Estate Qualifier", "type": "main", "index": 0}]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{"node": "Real Estate Qualifier", "type": "ai_languageModel", "index": 0}]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{"node": "Real Estate Qualifier", "type": "ai_memory", "index": 0}]]
    },
    "Real Estate Qualifier": {
      "main": [[{"node": "Check if Conversation Completed", "type": "main", "index": 0}]]
    },
    "Check if Conversation Completed": {
      "main": [
        [
          {"node": "Query Supabase for conversation history", "type": "main", "index": 0},
          {"node": "Thank Your Text", "type": "main", "index": 0}
        ],
        [
          {"node": "Response Text from Agent", "type": "main", "index": 0}
        ]
      ]
    },
    "Query Supabase for conversation history": {
      "main": [[{"node": "Combine Rows", "type": "main", "index": 0}]]
    },
    "Combine Rows": {
      "main": [[{"node": "Summarize Transcript", "type": "main", "index": 0}]]
    },
    "Anthropic Summarizer": {
      "ai_languageModel": [[{"node": "Summarize Transcript", "type": "ai_languageModel", "index": 0}]]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [[{"node": "Summarize Transcript", "type": "ai_outputParser", "index": 0}]]
    },
    "Summarize Transcript": {
      "main": [[{"node": "Send Lead to owner", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
