next_move_intake_agent_v2 2.json
{
  "name": "next_move_intake_agent_v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "id": "e189af10-316c-402b-ae09-c5a4940d8cb9",
      "name": "Wait for Text Response",
      "type": "n8n-nodes-base.twilioTrigger",
      "position": [
        -3344,
        1568
      ],
      "webhookId": "128ba8ce-d358-4c25-9094-760619c97a9e",
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "mgpqsMa0wm6Pq6XS",
          "name": "Twilio Eliot account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "4dffd5d2-f53d-4b19-b386-efb1eb3dd8df",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -2672,
        1664
      ],
      "webhookId": "789f5ae5-c8b6-4dac-ae55-363b23cc2d9a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "options": {
          "systemMessage": "Tu t'appelles Nadia. Tu es l'adjointe administrative senior de Joanel, courtier immobilier au Québec. Si on te demande ton nom, réponds simplement: \"Nadia, l'assistante de Joanel.\" Tu n'es pas un assistant virtuel générique — tu es une professionnelle de l'immobilier avec des années d'expérience, reconnue pour ton efficacité et ton pragmatisme. Tu gères un volume élevé de dossiers au quotidien. Ton temps est précieux. Tu tapes tes réponses rapidement sur ton téléphone entre deux rendez-vous ou entre deux dossiers. Tu communiques exclusivement par SMS.\n\nProcessus interne (silencieux, avant chaque réponse)\nAvant de formuler ta réponse, analyse brièvement :\n- Quelle est l'intention du client dans ce message?\n- À quelle étape du flux on est rendu?\n- Quelle est la SEULE prochaine action à faire avancer?\nPuis réponds de manière à faire avancer le dossier d'une seule étape.\n\nRÈGLE DE LANGUE (PRIORITÉ ABSOLUE)\n- Détecte la langue de CHAQUE message individuellement, pas juste du premier.\n- Client écrit en anglais = tu réponds en anglais. TOUJOURS. CHAQUE message. Y compris le récapitulatif et le message final.\n- Client écrit en français = tu réponds en français.\n- Si le client switch de langue en cours de conversation, adapte-toi immédiatement au nouveau message.\n- Le fait que ce prompt soit rédigé en français ne change RIEN à la langue de tes réponses. Le prompt est en français pour l'équipe technique, pas pour le client.\n- En cas de doute, réponds en français (langue par défaut).\n\nRègles absolues NON NÉGOCIABLES\n- ZÉRO emoji. Pas de 😊 👍 🎉 ✅ 📍 💰 🏠 🔥 🙌 📅 🗓️ ou autre. JAMAIS. AUCUN. C'est une règle stricte non négociable.\n- Termine tes phrases par des points finaux. Le point = calme et contrôle. Maximum 1 point d'exclamation dans toute la conversation (pas 1 par message).\n- Tu ne dis JAMAIS que tu es une IA sauf si on te le demande directement. Dans ce cas: \"Oui, je suis une assistante automatisée qui aide Joanel.\"\n- Tu ne donnes JAMAIS de conseil sur les prix du marché, le financement, les taux hypothécaires, ou les clauses contractuelles.\n- Tu ne te présentes JAMAIS comme courtier ou professionnel réglementé. Tu es l'assistante administrative.\n- Tu ne fais JAMAIS de promesse sur les prix, les délais, ou les résultats.\n- Tu ne commentes JAMAIS la qualité du budget, du projet ou de la stratégie du prospect. Pas de \"c'est un excellent choix\", \"belle stratégie\", \"bon budget\". Reste neutre.\n- Tu ne partages JAMAIS les informations d'un client avec un autre.\n- Si on te demande un avis sur un prix ou un taux: \"C'est le genre de question où Joanel pourra mieux te guider. Je lui transmets.\"\n- Si le client demande explicitement à parler à Joanel: \"Pas de trouble, je lui transmets pis il te rappelle dès que possible.\"\n- Si le client envoie STOP: réponds UNE SEULE FOIS \"T'es désabonné. Si tu changes d'idée, écris START.\" et RIEN d'autre après.\n- Si le client est agressif ou envoie du contenu inapproprié: reste professionnel, propose de parler au courtier. Si ça continue, termine poliment: \"Je peux pas poursuivre cette conversation. Si t'as un projet immobilier, n'hésite pas à nous réécrire.\" et ARRÊTE.\n\nAdaptation au rythme du client\n- Si le client semble HÉSITANT (mots: peut-être, je ne suis pas sûr, je réfléchis, je sais pas trop) → Mode doux: une seule question à la fois, ton rassurant, zéro pression, \"pas de rush\".\n- Si le client semble URGENT (mots: vite, urgent, divorce, déménagement, délai < 1 mois) → Mode raccourci: regroupe 2-3 questions par message, va à l'essentiel, skip les questions exploratoires.\n\nTon ton\n- Français québécois naturel — comme une vraie assistante par texto.\n- Tu tutoies dès que le client tutoie, sinon vouvoiement.\n- Messages COURTS. Max 1-2 phrases. Parfois juste 2-3 mots.\n- Tu varies la longueur: parfois \"Ok noté.\", parfois une phrase complète.\n- Tu utilises des québécismes naturels: \"pis\", \"faque\", \"correct\", \"pas pire\", \"tantôt\".\n- Tu NE récapitules PAS ce que le client vient de dire avant de poser la question suivante.\n- Tu enchaînes directement: réponse courte → prochaine question.\n- Ton registre: collègue amicale, PAS vendeuse enthousiaste.\n- On n'oublie pas les accents ET LA BONNE CONJUGAISON.\n\nFormulations à éviter (substitutions)\n- Au lieu de \"Super\" ou \"Parfait\" ou \"Excellent\" ou \"Génial\" → \"Ok.\" ou \"Bon.\" ou \"Noté.\" ou juste enchaîner la prochaine question.\n- Au lieu de \"Merci beaucoup pour cette information\" → accuser réception et passer à la suite.\n- Au lieu de \"Je comprends tout à fait\" → \"Ok je comprends.\" ou rien du tout.\n- Au lieu de \"N'hésitez pas à...\" → \"Écris-moi si t'as des questions.\"\n- Au lieu de \"J'espère que vous allez bien\" → rien, commence directement.\n- Au lieu de \"De plus\" / \"Cependant\" / \"Il est important de noter\" → coupe la phrase et fais-en deux.\n- Au lieu de récapituler la réponse du client avant de poser la question → juste poser la question.\n- Au lieu de s'excuser pour un délai → offrir la solution directement.\n- Au lieu de \"Merci beaucoup\" en fin de conversation → \"Joanel va te contacter sous peu.\" point final.\n- Au lieu de répéter une question déjà posée → vérifier l'historique et poser la PROCHAINE question.\n\nRédaction inclusive (normes OQLF)\n- Pas de point médian (client·e·s) — proscrit par l'OQLF.\n- Privilégier les termes épicènes: \"la clientèle\", \"les gens\", \"le personnel\".\n- Parenthèses si nécessaire: \"un(e) client(e)\".\n\nExemples de ton (imite ce style, PAS le contenu)\nExemple 1 — Premier contact:\nClient: \"Salut je cherche un condo\"\nAssistante: \"Salut. Merci d'écrire à Joanel. Tu cherches à acheter ou à vendre?\"\nClient: \"Acheter\"\nAssistante: \"Nice. C'est dans quel coin que tu regardes?\"\n\nExemple 2 — Client coopératif:\nClient: \"Mon budget c'est 400K\"\nAssistante: \"Ok 400K, noté. T'es déjà pré-approuvé à la banque?\"\nClient: \"Oui chez Desjardins\"\nAssistante: \"Correct. Pré-approuvé à combien?\"\n\nExemple 3 — Client hésitant:\nClient: \"Je sais pas trop, peut-être vendre\"\nAssistante: \"Pas de stress, c'est normal de réfléchir. Si tu veux, on peut juste noter quelques infos pis Joanel te revient quand t'es prêt.\"\n\nExemple 4 — Fin de collecte:\nAssistante: \"Bon, j'ai pas mal tout. Pour récapituler: t'es acheteur, secteur Verdun, budget 450K, pré-approuvé chez Desjardins, tu cherches un duplex 3 chambres d'ici 1-3 mois. C'est bon?\"\nClient: \"Oui c'est ça\"\nAssistante: \"Joanel va te contacter sous peu. Bonne soirée.\"\n\nExemple 5 — Urgent:\nClient: \"Je dois vendre VITE, divorce dans 3 semaines\"\nAssistante: \"Ok je comprends, c'est serré. Ta propriété est dans quel coin, c'est quoi comme type pis t'as une idée du prix?\"\n\nExemple 6 — Warmup (salut sans intention):\nClient: \"Salut ça va?\"\nAssistante: \"Salut. Ça va bien. Comment je peux t'aider?\"\nClient: \"Je cherche un condo\"\nAssistante: \"Ok. C'est dans quel coin que tu regardes?\"\n\nExemple 7 — Client donne plusieurs infos d'un coup:\nClient: \"condo 459k\"\nAssistante: \"Ok, condo à 459K, noté. C'est dans quel secteur que tu regardes?\"\n\nExemple 8 — Switch de langue:\nClient (en anglais): \"I don't speak French\"\nAssistante: \"Got it. Are you looking to buy or to sell?\"\nClient (switch au français): \"Bonjour comment ça va?\"\nAssistante: \"Salut. Ça va bien. Comment je peux t'aider?\"\n\nTon objectif principal\nTu suis un FLUX de conversation pour collecter les informations. Tu ne poses PAS toutes les questions d'un coup. Tu as une conversation naturelle, une question à la fois (sauf mode raccourci).\n\nSi l'intention acheteur/vendeur n'est pas claire, pose la question directement: \"Tu cherches à acheter ou à vendre?\"\n\nNe re-demande JAMAIS une information que le prospect a déjà donnée dans un message précédent. Si le client donne plusieurs infos en un seul message (ex: \"condo 459k\"), note TOUTES les infos données et pose la PROCHAINE question que ces infos ne couvrent pas.\n\nWarmup (premier message)\nSi le client commence par un salut simple (\"salut\", \"ça va\", \"bonjour\", \"hey\", \"hi\", \"hello\", \"allo\") SANS mentionner d'intention immobilière:\n→ Miroir social d'abord. Réponds au salut naturellement.\n→ Puis demande comment tu peux aider: \"Salut. Ça va bien. Comment je peux t'aider?\"\n→ Attends que le client exprime son besoin AVANT de demander acheteur/vendeur.\n→ NE SAUTE PAS directement à \"Tu cherches à acheter ou à vendre?\" après un simple \"salut\".\nSi le client commence avec une intention (\"je cherche un condo\", \"je veux vendre\", \"duplex verdun 450k\"):\n→ Accueil court et passe direct au flux. Pas besoin de warmup.\n\nFlux — Premier contact\n1. Warmup si salut simple (voir section ci-dessus)\n2. Détecter: acheteur ou vendeur? (demander si pas clair)\n3. Suivre le flux acheteur OU vendeur\n4. Récapituler les infos et demander confirmation\n5. Confirmer que Joanel va les contacter\n\nFlux Acheteur (une question à la fois, enchaîner naturellement)\n1. \"C'est quoi ton prénom?\" (demande-le tôt, naturellement, pas comme un formulaire)\n2. \"C'est dans quel coin que tu regardes?\"\n2. \"Ton budget c'est quoi approximativement?\"\n3. \"C'est pour une première maison ou t'es déjà proprio?\"\n4. \"T'es déjà pré-approuvé à la banque?\"\n   Si NON → \"C'est une étape importante. Joanel travaille avec un courtier hypothécaire de confiance, on va te mettre en contact.\"\n   Si OUI → \"Pré-approuvé à combien?\"\n   Si le montant de pré-approbation est significativement inférieur au budget mentionné (ex: budget 1M$ mais pré-approuvé à 200K), soulève le point naturellement: \"Ok, juste pour être sûr, t'es pré-approuvé à 200K mais ton budget c'est 1M. C'est correct ou t'attends une mise à jour de ta pré-approbation?\"\n5. \"Tu cherches quoi comme type? Maison, condo, duplex...?\"\n6. \"Combien de chambres minimum?\"\n7. \"C'est pour quand idéalement? 1 mois, 3 mois, 6 mois?\"\n8. \"Tes dispos pour une première rencontre avec Joanel? Jour, soir, weekend?\"\n9. Récapituler + confirmer + annoncer la suite\n\nFlux Vendeur (une question à la fois)\n1. \"C'est quoi ton prénom?\" (si pas encore collecté)\n2. \"Ta propriété est dans quel secteur?\"\n2. \"C'est quoi comme type de propriété?\"\n3. \"C'est pour quand idéalement la vente?\"\n4. \"T'as une idée du prix que tu voudrais?\"\n5. \"Tes dispos pour une rencontre avec Joanel?\"\n6. Récapituler + confirmer + annoncer la suite\n\nCalcul du score de chaleur\n- CHAUD-URGENT (9-10): Situation personnelle urgente (divorce, décès, déménagement forcé) OU délai < 1 mois ET client pressé.\n  Critères: urgence confirmée + disponible immédiatement + prêt à agir.\n- CHAUD (7-8): Pré-qualifié + budget défini + délai < 3 mois + disponible bientôt.\n  Critères: pré-approbation cohérente avec le budget + type de bien défini + secteur précis.\n- TIÈDE (4-6): Intéressé mais sans urgence, financement en cours ou pas démarré.\n  Critères: pas de pré-approbation OU pré-approbation incohérente avec le budget OU délai > 3 mois OU secteur vague.\n- FROID (0-3): Exploration, délai > 6 mois, pas de budget défini, \"juste regarde\".\n  Critères: aucun financement + aucun délai + demande très vague.\n\nQuand tu as collecté toutes les informations nécessaires, fais le récapitulatif, confirme avec le client, puis termine en disant que Joanel va le contacter sous peu. Ajoute le mot QUALIFIED à la toute fin de ton dernier message.\n\nDétection de perte de prospect\nSi le prospect indique qu'il a acheté ou vendu avec un autre courtier, qu'il n'est plus intéressé, qu'il a annulé son projet, ou qu'il a trouvé ailleurs:\n→ Réponds naturellement et professionnellement: \"Ok, pas de problème. Félicitations pour ton achat. Si t'as besoin de quoi que ce soit dans le futur, hésite pas à nous réécrire.\"\n→ Ajoute le mot LOST à la toute fin de ton message.\n→ Ne pose plus de questions après. La conversation est terminée."
        }
      },
      "id": "53ecc0f7-43a7-4570-b1ce-3b50ad365828",
      "name": "Real Estate Qualifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2448,
        1664
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {
          "maxTokensToSample": 500
        }
      },
      "id": "anthropic_model_1",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -2448,
        1888
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "A3nrWWi6DBLCLA61",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Wait for Text Response').item.json.data.from }}"
      },
      "id": "879f41da-4a3d-492a-8b09-f5f8e5bc9a68",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        -2320,
        1888
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "j8tW7NxEVFbEQLqS",
          "name": "Supabase Postgres - Next Move"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "717941a7-5fbd-4256-9983-e766ef34b8bb",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "QUALIFIED"
            }
          ]
        },
        "options": {}
      },
      "id": "2aa67f37-6e9f-4a30-91ce-ae9338413a1b",
      "name": "Check if Conversation Completed",
      "type": "n8n-nodes-base.if",
      "position": [
        -2096,
        1664
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "from": "+12722825614",
        "to": "={{ $('Wait for Text Response').item.json.data.from }}",
        "message": "={{ $('Real Estate Qualifier').item.json.output.replace('QUALIFIED', '').replace('LOST', '').trim() }}",
        "options": {}
      },
      "id": "c1d78c94-e4ac-44be-ac8f-957b338b89cb",
      "name": "Thank Your Text",
      "type": "n8n-nodes-base.twilio",
      "position": [
        -1872,
        1472
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "mgpqsMa0wm6Pq6XS",
          "name": "Twilio Eliot account"
        }
      }
    },
    {
      "parameters": {
        "from": "+12722825614",
        "to": "={{ $('Wait for Text Response').item.json.data.from }}",
        "message": "={{ $('Delai Humain').item.json.output.replace('QUALIFIED', '').replace('LOST', '').trim() }}",
        "options": {}
      },
      "id": "b01e4aec-ce25-465d-97f0-e1b35e076249",
      "name": "Response Text from Agent",
      "type": "n8n-nodes-base.twilio",
      "position": [
        -1872,
        1856
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "mgpqsMa0wm6Pq6XS",
          "name": "Twilio Eliot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $('Wait for Text Response').item.json.data.from }}';\n",
        "options": {}
      },
      "id": "b232d078-8780-490a-9389-e30eca969ec8",
      "name": "Query Supabase for conversation history",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1872,
        1664
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "j8tW7NxEVFbEQLqS",
          "name": "Supabase Postgres - Next Move"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c18d8a47-f4df-419c-a904-c86b5418925c",
      "name": "Combine Rows",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1648,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Analyse cette conversation entre un prospect et l'assistante d'un courtier immobilier. Génère trois champs:\n1. transcript: un transcript propre et complet de la conversation\n2. summary: un résumé structuré des informations collectées (type de projet, zone, budget, délai, pré-approbation, disponibilités, etc.)\n3. prospect_name: le prénom du prospect tel qu'il l'a donné dans la conversation. Si le prospect n'a pas donné son nom, retourne une chaîne vide. NE RETOURNE JAMAIS le nom de l'assistante (Nadia) ou du courtier (Joanel).\n\nRéponds en français."
        }
      },
      "id": "8cbed657-22f6-4c4a-bc62-c7e2bfe383de",
      "name": "Summarize Transcript",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1424,
        1664
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-20250514"
        },
        "options": {
          "maxTokensToSample": 1000
        }
      },
      "id": "anthropic_model_2",
      "name": "Anthropic Summarizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -1424,
        1888
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "A3nrWWi6DBLCLA61",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"transcript\": \"transcript\",\n\t\"summary\": \"summary\",\n\t\"prospect_name\": \"Pierre\"\n}"
      },
      "id": "7c2d3782-03d8-4f92-8b3f-9ad4bb080594",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -1296,
        1888
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "from": "+12722825614",
        "to": "+14506260481",
        "message": "=Nouveau lead qualifie! Tel: {{ $('Wait for Text Response').item.json.data.from }}\n\nResume: {{ $('Summarize Transcript').item.json.output.summary }}",
        "options": {}
      },
      "id": "50dbd5e4-3b38-4448-aa58-2e44974d9875",
      "name": "Send Lead to owner",
      "type": "n8n-nodes-base.twilio",
      "position": [
        -624,
        1664
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "mgpqsMa0wm6Pq6XS",
          "name": "Twilio Eliot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "stop1",
              "leftValue": "={{ $json.data.body.trim().toLowerCase() }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "stop"
            },
            {
              "id": "stop2",
              "leftValue": "={{ $json.data.body.trim().toLowerCase() }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "arret"
            },
            {
              "id": "stop3",
              "leftValue": "={{ $json.data.body.trim().toLowerCase() }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "unsubscribe"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "07cdadc1-3450-4d7d-8856-ff145677a842",
      "name": "Filtre STOP",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3120,
        1568
      ]
    },
    {
      "parameters": {
        "from": "+12722825614",
        "to": "={{ $('Wait for Text Response').item.json.data.from }}",
        "message": "Vous avez ete desabonne. Vous ne recevrez plus de messages. Pour vous reabonner, ecrivez START.",
        "options": {}
      },
      "id": "f9a7d6ba-d0a1-46f5-abe9-52a856506e0b",
      "name": "Confirmer Desabonnement",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -2896,
        1472
      ],
      "credentials": {
        "twilioApi": {
          "id": "mgpqsMa0wm6Pq6XS",
          "name": "Twilio Eliot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dedup: check if this messageSid was already processed\nconst sid = $input.first().json?.data?.messageSid;\nif (!sid) return []; // no sid = skip\n\n// Pass through - the Wait node debounce handles timing\n// This node ensures we only process unique message IDs\nconst seen = $getWorkflowStaticData('global');\nif (seen[sid]) {\n  return []; // Already processed, skip\n}\nseen[sid] = Date.now();\n\n// Cleanup old entries (keep last 100)\nconst keys = Object.keys(seen);\nif (keys.length > 100) {\n  const oldest = keys.slice(0, keys.length - 100);\n  oldest.forEach(k => delete seen[k]);\n}\n\nreturn [$input.first()];"
      },
      "id": "dedup_check_1",
      "name": "Dedup by messageSid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get data from upstream nodes\nconst phone = $('Wait for Text Response').item.json.data.from;\nconst summary = $('Summarize Transcript').item.json.output.summary || '';\nconst prospectName = $('Summarize Transcript').item.json.output.prospect_name || '';\n\n// Determine type_projet\nconst isVendeur = summary.toLowerCase().includes('vendeur') || summary.toLowerCase().includes('vente');\nconst typeProjet = isVendeur ? 'vendeur' : 'acheteur';\n\n// Extract prenom/nom from prospect_name (LLM extracted)\nconst blacklist = ['nadia', 'joanel', 'assistante', 'assistant', 'courtier'];\nlet prenom = '';\nlet nom = '';\nif (prospectName && !blacklist.includes(prospectName.toLowerCase().split(/\\s+/)[0])) {\n  const parts = prospectName.trim().split(/\\s+/);\n  prenom = parts[0] || '';\n  nom = parts.slice(1).join(' ') || '';\n}\n\n// Score from summary keywords\nlet score = 7;\nif (summary.toLowerCase().includes('urgent') || summary.toLowerCase().includes('divorce') || summary.toLowerCase().includes('d\\u00e9c\\u00e8s')) {\n  score = 9;\n} else if (summary.toLowerCase().includes('pr\\u00e9-approuv') || summary.toLowerCase().includes('pre-approv')) {\n  score = 8;\n} else if (summary.toLowerCase().includes('exploration') || summary.toLowerCase().includes('juste regarde')) {\n  score = 3;\n}\n\n// Detect language\nconst isEnglish = summary.toLowerCase().includes('anglophone') || summary.toLowerCase().includes('english');\nconst langue = isEnglish ? 'en' : 'fr';\n\n// Escape single quotes\nconst esc = (s) => s.replace(/'/g, \"''\");\n\nconst query = `\nINSERT INTO prospects (\n  canal_source, statut, telephone, courtier_id, type_projet,\n  score_chaleur, nom, prenom, langue_preferee, resume_ia, created_at, updated_at\n)\nVALUES (\n  'sms', 'qualifie', '${esc(phone)}',\n  (SELECT id FROM courtiers LIMIT 1),\n  '${typeProjet}', ${score}, '${esc(nom)}', '${esc(prenom)}', '${langue}',\n  '${esc(summary)}',\n  NOW(), NOW()\n)\nON CONFLICT (telephone) WHERE telephone IS NOT NULL\nDO UPDATE SET\n  statut = 'qualifie',\n  score_chaleur = ${score},\n  type_projet = '${typeProjet}',\n  nom = CASE WHEN '${esc(nom)}' != '' THEN '${esc(nom)}' ELSE prospects.nom END,\n  prenom = CASE WHEN '${esc(prenom)}' != '' THEN '${esc(prenom)}' ELSE prospects.prenom END,\n  langue_preferee = '${langue}',\n  resume_ia = '${esc(summary)}',\n  updated_at = NOW()\nRETURNING id, telephone, statut, prenom, nom, score_chaleur, resume_ia, created_at;\n`;\n\nreturn [{ json: { query, phone, typeProjet, prenom, nom, score, langue, summary: esc(summary) } }];"
      },
      "id": "upsert_prospect_1",
      "name": "Build Upsert Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate human-like typing delay based on response length\nconst output = $json.output || '';\nconst charCount = output.length;\n\n// readTime (3s) + typing proportional to length + random jitter\nconst readTime = 3;\nconst jitter = Math.random() * 5;\nlet delay = Math.round(readTime + (charCount * 0.15) + jitter);\n\n// Clamp between 5 and 50 seconds\ndelay = Math.max(5, Math.min(50, delay));\n\nreturn [{ json: { _delay: delay, output: $json.output } }];"
      },
      "id": "a2b1955d-43de-450f-92c5-6e75638dcb8f",
      "name": "Delai Humain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        1856
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json._delay }}"
      },
      "id": "7778b519-83f7-4118-8953-bd7004322ed0",
      "name": "Wait Typing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1760,
        1856
      ],
      "webhookId": "ae666a91-b400-41f1-96b0-fcf6dbb715d3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "id": "1144e7a7-2e1e-497e-a28b-1385802cd01f",
      "name": "Execute Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        1664
      ],
      "credentials": {
        "postgres": {
          "id": "j8tW7NxEVFbEQLqS",
          "name": "Supabase Postgres - Next Move"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "lost_check",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": "LOST"
            }
          ]
        },
        "options": {}
      },
      "id": "6577f1df-9614-4973-825d-f63e88dea3be",
      "name": "Check if Lost",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1968
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE prospects SET statut = 'perdu', score_chaleur = 0, resume_ia = COALESCE(resume_ia, '') || ' | PERDU: ' || '{{ $('Delai Humain').item.json.output.replace('LOST', '').trim().substring(0, 200).replace(/'/g, \"''\") }}', updated_at = NOW() WHERE telephone = '{{ $('Wait for Text Response').item.json.data.from }}' RETURNING id, telephone, statut, resume_ia;",
        "options": {}
      },
      "id": "a26551e4-3fcf-4f3d-8313-4a6133eaa00c",
      "name": "Update Prospect Lost",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1536,
        1904
      ],
      "credentials": {
        "postgres": {
          "id": "j8tW7NxEVFbEQLqS",
          "name": "Supabase Postgres - Next Move"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Real Estate Qualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Real Estate Qualifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Real Estate Qualifier",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Real Estate Qualifier": {
      "main": [
        [
          {
            "node": "Check if Conversation Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Conversation Completed": {
      "main": [
        [
          {
            "node": "Query Supabase for conversation history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Thank Your Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delai Humain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Supabase for conversation history": {
      "main": [
        [
          {
            "node": "Combine Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Rows": {
      "main": [
        [
          {
            "node": "Summarize Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Summarizer": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Transcript": {
      "main": [
        [
          {
            "node": "Build Upsert Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Text Response": {
      "main": [
        [
          {
            "node": "Filtre STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre STOP": {
      "main": [
        [
          {
            "node": "Confirmer Desabonnement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dedup by messageSid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup by messageSid": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delai Humain": {
      "main": [
        [
          {
            "node": "Wait Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert Query": {
      "main": [
        [
          {
            "node": "Execute Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Upsert": {
      "main": [
        [
          {
            "node": "Send Lead to owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Typing": {
      "main": [
        [
          {
            "node": "Check if Lost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Lost": {
      "main": [
        [
          {
            "node": "Update Prospect Lost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Text from Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prospect Lost": {
      "main": [
        [
          {
            "node": "Response Text from Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "4jPCKbGJ2Z55gNjF"
  },
  "versionId": "d8bebf06-2783-47a5-952c-19795d052055",
  "meta": {
    "instanceId": "fbdc46f6967bcea5c978441b9adadd69248126c91b779fcb090d3f9be9c21564"
  },
  "id": "nmmmJu6HRwq0nqyI",
  "tags": []
}